<main class="hidden">
   <article class="container-fluid">
      <header class="row justify-content-center">
         <div class="col-12 col-lg-7 col-xl-5">
            <h2>About Us</h2>
            <p>Let’s talk music.</p>
         </div>
      </header>
      <div class="about--visual"></div>
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 col-xl-6">
            <h3><strong>The sound you need</strong></h3>
            <p>Audiotheque is an all-round sound production agency based in Ghent, Belgium. We make music and create sound design for commercial and artistic purposes. We operate as an integrated partner offering original music, sound effects, voice overs, foley, film scores, mixing, editing and mastering. Recently, we’ve also gained a lot of expertise in spatial audio and the application of audio for augmented/immersive reality.<br/><br/>Our founders Francois De Meyer and Stefan Bracke are far from newbies in the music industry. Besides being cemented in studio life <em>(productions for Baloji, Raketkanon, Lee Anderson…)</em>, they’re still veteran artists and live performers at heart <em>(Raveyards, Villa, Foxylane, The Subs, TTN, KYEM)</em> and event curators by soul <em>(Ghost and ‘1988’)</em>.Audiotheque started out as a side passion project between two friends connected by music and has been growing ever since. Today, we can proudly present a large list of collaborations with high-end brands, agencies and artists. Discover them <a href="https://audiotheque.be/work">here</a>. <strong>So, let’s talk music, shall we? </strong></p>
         </div>
      </div>
      <figure class="row align-items-end">
         <div class="col-12 col-lg-10 col-xl-9"> <img src="https://audiotheque.be/files/_w2000/88/AUDIOTHEQUE-TEAM.jpg"> </div>
         <figcaption class="col-12 col-lg-2 col-xl-3"></figcaption>
      </figure>
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 col-xl-6">
            <h3><strong>Our studios</strong><br/></h3>
            <p>Our creative &amp; production studios are located at a former Freinet school in the heart of Ghent. Building on that free spirit, we transformed the place into a creative hub. Among us, you’ll find a <strong>photo studio</strong>, four well-known photographers, <strong>an artist’s promotion agency</strong> and one of <strong>Belgian’s largest and most avant-garde production company for runway shows</strong><em>.</em></p>
         </div>
      </div>
      <figure class="row justify-content-end align-items-end">
         <div class="col-12 col-lg-8 col-xl-6"> <img src="https://audiotheque.be/files/_w1500/audiotheque4-web.jpg"> </div>
         <figcaption class="col-12 col-lg-2 col-xl-3"></figcaption>
      </figure>
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 col-xl-6">
            <p><strong>Feel that tingling in your fingertips? </strong><strong>That’s the magnetic urge to contact us.</strong></p>
            <h3><strong><a href="https://audiotheque.be/contact">Get in touch!</a></strong></h3>
         </div>
      </div>
   </article>
</main>