<main class="hidden">
   <article class="container-fluid">
      <header class="row justify-content-center">
         <div class="col-12 col-lg-7 col-xl-5">
            <h2>About Exosus</h2>
            <p>Let’s talk music.</p>
         </div>
      </header>
      <div class="about--visual"></div>
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 col-xl-6">
            <h3><strong>About us</strong></h3>
            <p>Exodus Music Ministries, Our objective is to train the younth & intrested peoples globally willing to learn and sing Keerthanai Payirtrunar lyrics, Founder & Director of Exodus Music Ministries, Our mission is to encourage & train the young workshippers on Keerthanai Payirtrunar globally to learn and sing lyrics during private, family and public worship.</p>
         </div>
      </div>
      <figure class="row justify-content-center align-items-end">
         <div class="col-12 col-lg-8 col-xl-6"> <h3><strong>Our Team</strong></h3> <img src="./assets/images/team.jpg"> </div>
      </figure>
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 col-xl-6">
            <h3><strong>Our Objective</strong></h3>
            <p>
               1. Documentation of the originally scored music for the Lyrics that is available. <br/>
               2. Authenticating the above mentioned Scored Music in either CD or DVD format. <br/>
               3. Preparing the nearest original Music scored by the writer or composer for at least 100 lyrics (which are no longer used by the Tamil Congregations during worship globally) and bring out in Print media. <br/>
               4. This should be made available for all sections of the TAMIL WORSHIPING community globally. <br/>
               5. Bring to life and to light 100s of lyrics written around the same period, but unfortunately left out of the lyric books, (printed by some publishers like ELS. Etc...) now used by the Tamil Speaking Churches, globally. <br/>
               6. Make Lyrics available for the above mentioned, in print so that the Music enthusiasts can be encouraged to score music and popularize them for regular use globally. <br/>
               7. To collect older lyric books printed and published over the last century in India, Sri Lanka (Jaffna) and other locations for the Tamil Diaspora and initiate a ARCHIVES for this purpose and popularize them by making them available in Digital E Format and in websites also make available in Wikipedia. <br/>
               8. To encourage the young Tamil worshippers globally to learn and sing the lyrics during Private, family and Public worship. <br/>
               9. Keerthanai payirtrunar (Master Trainers),this training can be done by conducting Tamil Lyric Workshop of select songs with Material to become Certified Master Trainers. <br/>
               10. To prepare and Publish a curriculum for workshop in Digital & print format <br/>
               11. The Workshop can be done through skype for those 
            </p>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 col-xl-6">
            <p><strong> Join hands on our mission!  </strong><strong>On spreading the tamil lyrics renewal movement! </strong></p>
            <h3><strong><a href="<%=base%>contact">Get in touch!</a></strong></h3>
         </div>
      </div>
   </article>
</main>