<style>
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
   .contact-info.right {
      text-align: right;
   }
 }
</style>
<main class="hidden">
   <article class="container">
      <header class="row justify-content-center">
         <div class="col-12 col-lg-7 col-xl-5">
            <h2>Contact</h2>
            <p>Eager to explore the Keerthanai Payirtrunar lyrics? Send us an e-mail, give us a call or drop by!</p>
         </div>
      </header>
      <div class="row justify-content-center contact-cta">
         <a href="/contact/company" class="col-12 col-lg-6 col-xl-5 col-xxl-4">
            <p>JOIN HANDS ON <strong>OUR MISSION!</strong> ON SPREADING THE  <strong>TAMIL LYRICS RENEWAL MOVEMENT</strong>! <br/></p>
         </a>
         <a href="/contact/artist" class="col-12 col-lg-6 col-xl-5 col-xxl-4">
            <p>WANNA <strong>LEARN AND SING KEERTHANAI</strong>? NO WORRIES, WE ARE HERE TO HELP <strong>YOU OUT</strong>!<br/></p>
         </a>
      </div>
      <div class="row justify-content-center">
         <div class="col-12 mb-3 mb-lg-4 col-lg-6 contact-info right"> <strong>Eva.Dr.C.Victor</strong> <span>Founder & Director</span> <span>+91 99444 51426</span> <!--<a href="mailto:francois@audiotheque.be">francois@audiotheque.be</a>--> </div>
         <div class="col-12 mb-3 mb-lg-4 col-lg-6 contact-info"> <strong>Rev.Dr.Y.L.Baburao</strong> <span>President</span> <span>+91 98419 41581</span></div>
         <div class="col-12 mb-3 mb-lg-4 col-lg-6 contact-info right"> <strong>Prof.Dr.Moses Michael Faraday</strong> <span>Advisor</span> <span>+91 90031 97577</span></div>
         <div class="col-12 mb-3 mb-lg-4 col-lg-6 contact-info"> <strong>Mrs.V.Sheela Titus</strong> <span>Join Director</span> <span>+91 97913 08882</span></div>
      </div>
      <div class="row justify-content-center">
         <div class="col-12 contact-info contact-info--address text-center"> <strong>EXODUS MUSIC MINISTRIES</strong> <span> 41-a, Ganapathi Nagar, Kattupakkam</span> <span> Chennai, TN, India </span> <span> PIN CODE 600 056 </span></div>
      </div>
   </article>
</main>