<main class="hidden">
   <article class="container">
      <header class="row justify-content-center">
         <div class="col-12 col-lg-7 col-xl-5">
            <h2>Contact</h2>
            <p>Eager to work with us as an artist or agency? Send us an e-mail, give us a call or drop by!</p>
         </div>
      </header>
      <div class="row justify-content-center contact-cta">
         <a href="/contact/company" class="col-12 col-lg-6 col-xl-5 col-xxl-4">
            <p>WORKING ON A <strong>NEW PROJECT?</strong> HIT US UP AND WE'LL HIT <strong>THE RIGHT NOTE</strong>! <br/></p>
         </a>
         <a href="/contact/artist" class="col-12 col-lg-6 col-xl-5 col-xxl-4">
            <p>WANNA <strong>WORK WITH US</strong>? THEN FACE THE <strong>MUSIC</strong> AND SHOW US WHAT <strong>YOU GOT</strong>!<br/></p>
         </a>
      </div>
      <div class="row justify-content-center">
         <div class="col-12 mb-3 mb-lg-0 col-lg-auto contact-info"> <strong>Francois De Meyer</strong> <span>Big Boss</span> <span>+32 485 55 60 69</span> <a href="mailto:francois@audiotheque.be">francois@audiotheque.be</a> </div>
         <div class="col-12 mb-3 mb-lg-0 col-lg-auto contact-info"> <strong>Stefan Bracke</strong> <span>The Other One</span> <span>+32 477 40 12 45</span> <a href="mailto:stefan@audiotheque.be">stefan@audiotheque.be</a> </div>
         <div class="col-12 mb-3 mb-lg-0 col-lg-auto contact-info"> <strong>Louise-Marie Kerkhove</strong> <span>Studio Manager</span> <span>+32 475 36 69 15</span> <a href="mailto:louise-marie@audiotheque.be">louise-marie@audiotheque.be</a> </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-12 contact-info contact-info--address text-center"> <strong>Audiotheque</strong> <span> Karel van Hulthemstraat 45 </span> <span> 9000 Ghent </span> <span> BE 0849.114.442 </span> </div>
      </div>
   </article>
</main>