<main class="hidden">
   <header class="container hero">
      <div class="row">
            <h1 class="page-title col-12 text-center">GALLERY</h1>
      </div>
   </header>
</main>
<!--
<article class="project-list" id="project_list">
      <section class="project p_pedal" id="kyem-blue-cat">
         <div class="w_visual">
            <div class="parallax-item rellax w_pedal" data-rellax-speed="1.7" data-rellax-percentage="0.5" data-scroll data-scroll-class="animate_lines">
               <svg class="parallax-image" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1680 827.2" >
                  <path class="pedal_line" stroke="#ffffff" stroke-width="5" d="M742.2 355.71c363.8-67.6 262.6-341.7 699.4-353.2 297.6-4.5 324.1 353.3 19.4 443.3-140.2 41.4-294.5 33.7-336-37.3s64.3-165.8 185.5-192.2c164.5-40.1 310.8 13.4 310.8 13.4"/>
                  <path class="pedal_line2" stroke="#ffffff" stroke-width="5" d="M455.8 499.31C156.7 568.01 348.7 757.71.5 824.71"/>
                  <image width="1680" height="827.2" xlink:href="<%=base%>assets/images/illu/pedal-without-lines.svg"/>
                  <path id="knob-1" d="M455.8 320.1c.5-.4 1-1 1.4-1.6.4-.7.2-1.6-.3-2.2s-1.2-.8-1.9-.5c-.8.3-1.6.8-2.4 1.3l-6.9 4.8c-.5.3-1 .7-1.5 1 0 0-1.9 2.1-1 3.2.9 1.2 3.1.6 3.1.6 2.4-1.6 4.6-3.2 6.8-4.7.9-.6 1.8-1.2 2.7-1.9z"/>
                  <path id="knob-2" d="M519.9 285.7c.9.4 1.9 0 2.3-.8.4-.7.1-1.4-.4-1.9-1.1-1.2-2.3-2.3-3.5-3.3-1.4-1.2-3-2.4-4.3-3.4-4.3-3.4-6.2.5-3.5 2.6 2.6 2 4.9 3.9 7.3 5.7.6.4 1.3.8 2.1 1.1z"/>
                  <path id="knob-3" d="M580.8 262.1c.9.6 1.9 1.2 2.9 1.6.7.3 1.4-.1 1.8-.7.4-.6.3-1.2 0-1.7-.6-.8-1.3-1.5-2.1-2.1-2.3-1.8-4.6-3.5-6.9-5.3-.3-.2-.6-.5-1-.8-2.7-2.1-6.7.1-2.4 3.2.6.4 1.1.7 1.7 1.1 1.8 1.5 3.9 3.1 6 4.7z"/>
                  <path id="knob-4" d="M647.9 235.6c.4.6.9 1.1 1.5 1.4.9.5 2.2-.2 2.2-1.3 0-.8-.1-1.6-.4-2.3-.7-2-1.6-3.9-2.4-5.8-.4-1-.9-2-1.3-3-.5-1.2-1.9-2.5-3.3-1.7-1.5.8-.4 3.1-.4 3.1 1.1 2.7 2.1 5.1 3.1 7.5.4.6.6 1.4 1 2.1z"/>
               </svg>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-12 col-md-8 col-xl-6 col-xxl-5 offset-md-3 offset-xl-4 offset-xxl-5">
                  <div class="card card--video card--case">
                     <div class="card-top videoOverlay" data-embed="//www.youtube.com/embed/4v63iXh8HgY?autoplay=1&rel=0&theme=dark&controls=1&showinfo=0&color=ffffff&title=0&byline=0&portrait=0&loop=0"> <img class="card-play" src="https://audiotheque.be/assets/images/play-button.svg"/> <img class="card-img-top" src="https://audiotheque.be/files/_w1500/KYEM-BLUE-CAT-ARTWORK.jpg"> </div>
                     <div class="card-body">
                        <div class="row">
                           <h4 class="card-title col-md-8">KYEM - Blue Cat</h4>
                        </div>
                        <ul class="card-tags mt-3 mt-md-0">
                           <li class="card-tag"> <a href="https://audiotheque.be/category/music">Music</a> </li>
                           <li class="card-tag"> <a href="https://audiotheque.be/category/band">Band</a> </li>
                        </ul>
                        <p class="card-text">&quot;Blue Cat&quot; is the first single of KYEM, the musical match made in heaven between Francois De Meyer and Tim De Gieter. A sensual, silky-smooth blend of pop &amp; RnB.</p>
                        <a class="card-credits-link" href="javascript:void(0);">credits +</a> 
                        <div class="row card-credits-content">
                           <div class="col-12 col-md-6"> <span>:</span> <strong></strong> </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="project p_ashtray" id="raveyards-glue-in-the-dark">
         <div class="w_visual">
            <div class="parallax-item rellax w_ashtray" data-rellax-speed="1.7" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/ashtray.svg"/> </div>
            <div class="parallax-item rellax w_sigs" data-rellax-speed="2.7" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/cigarettes.svg"/> </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-12 col-md-8 col-xl-6 col-xxl-5 offset-md-1 offset-xl-2 offset-xxl-2">
                  <div class="card card--video card--case">
                     <div class="card-top videoOverlay" data-embed="//www.youtube.com/embed/-AwaBjZNoKM?autoplay=1&rel=0&theme=dark&controls=1&showinfo=0&color=ffffff&title=0&byline=0&portrait=0&loop=0"> <img class="card-play" src="https://audiotheque.be/assets/images/play-button.svg"/> <img class="card-img-top" src="https://audiotheque.be/files/_w1500/creamwithtitle.jpg"> </div>
                     <div class="card-body">
                        <div class="row">
                           <h4 class="card-title col-md-8">Raveyards - Glue in the Dark</h4>
                        </div>
                        <ul class="card-tags mt-3 mt-md-0">
                           <li class="card-tag"> <a href="https://audiotheque.be/category/music">Music</a> </li>
                           <li class="card-tag"> <a href="https://audiotheque.be/category/band">Band</a> </li>
                        </ul>
                        <p class="card-text">The year 2019 marks the beginning of an entirely new Raveyards-experience, with new music and a new live set up. Their new musical approach could be described as electroclash, clubbing pounding beats and huge build-ups. Listen to their first single ‘Glue In The Dark&#039;.</p>
                        <a class="card-credits-link" href="javascript:void(0);">credits +</a> 
                        <div class="row card-credits-content">
                           <div class="col-12 col-md-6"> <span>vocals and synths - conceptualist and producer:</span> <strong>Francois De Meyer</strong> </div>
                           <div class="col-12 col-md-6"> <span>Drums:</span> <strong>Joris Casier</strong> </div>
                           <div class="col-12 col-md-6"> <span>Guitar and vocals:</span> <strong>Brent Vanneste</strong> </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="project p_plectrums" id="villa">
         <div class="w_visual">
            <div class="parallax-item rellax w_plectrums_white" data-rellax-speed="1.5" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/plectrums_white.svg"/> </div>
            <div class="parallax-item rellax w_plectrums_black" data-rellax-speed="2.7" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/plectrums_black.svg"/> </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-12 col-md-8 col-xl-6 col-xxl-5 offset-md-3 offset-xl-4 offset-xxl-5">
                  <div class="card card--video card--case">
                     <div class="card-top videoOverlay" data-embed="//www.youtube.com/embed/FogQA55WByc?autoplay=1&rel=0&theme=dark&controls=1&showinfo=0&color=ffffff&title=0&byline=0&portrait=0&loop=0"> <img class="card-play" src="https://audiotheque.be/assets/images/play-button.svg"/> <img class="card-img-top" src="https://audiotheque.be/files/_w1500/villa-logo.jpg"> </div>
                     <div class="card-body">
                        <div class="row">
                           <h4 class="card-title col-md-8">Villa</h4>
                           <div class="col-md-4 text-md-right"> <a href="https://audiotheque.be/play/villa" class="btn btn-outline-primary">view case</a> </div>
                        </div>
                        <ul class="card-tags mt-3 mt-md-0">
                           <li class="card-tag"> <a href="https://audiotheque.be/category/music">Music</a> </li>
                           <li class="card-tag"> <a href="https://audiotheque.be/category/band">Band</a> </li>
                        </ul>
                        <p class="card-text">This project was founded by Francois De Meyer and DJ Thang. After making countless remixes for artists like Adele, Yessayer, Digitalism, Human League, Royksopp, Ladyhawk, Yuksek etc., they started releasing their own tracks on Partyfine and Clubmod (Modular).</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="project w_glass" id="ttn-two-things">
         <div class="w_visual">
            <div class="parallax-item rellax w_drink w_drink-base" data-rellax-speed="1.7" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/drink-base.svg"/> </div>
            <div class="parallax-item rellax w_drink w_drink-cube3" data-rellax-speed="2" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/cube-3.svg"/> </div>
            <div class="parallax-item rellax w_drink w_drink-cube2" data-rellax-speed="2.1" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/cube-2.svg"/> </div>
            <div class="parallax-item rellax w_drink w_drink-cube3" data-rellax-speed="5" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/cube-1.svg"/> </div>
            <div class="parallax-item rellax w_drink w_drink-glass" data-rellax-speed="1.7" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/drink-glass.svg"/> </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-12 col-md-8 col-xl-6 col-xxl-5 offset-md-2 offset-xl-4 offset-xxl-5">
                  <div class="card card--video card--case">
                     <div class="card-top videoOverlay" data-embed=""> <img class="card-play" src="https://audiotheque.be/assets/images/play-button.svg"/> <img class="card-img-top" src="https://audiotheque.be/files/_w1500/TTN-FOTO.jpg"> </div>
                     <div class="card-body">
                        <div class="row">
                           <h4 class="card-title col-md-8">TTN - Two Things</h4>
                        </div>
                        <ul class="card-tags mt-3 mt-md-0">
                           <li class="card-tag"> <a href="https://audiotheque.be/category/music">Music</a> </li>
                        </ul>
                        <p class="card-text">TTN, one of the many alter-ego&#039;s of Francois De Meyer. Inspired by the left field scene and with a luid-vuil-traag undertone, you can describe TTN as dirty, dark and sexy: it tingles your ears and makes you wanna dance in a crowded underground club. The EP &#039;Two Things&#039; is filled with dirty downbeat tracks but with a disco touch. TTN performs live under the name of TTN DJ’s with Thang and Olivier Tjon.</p>
                        <a class="card-credits-link" href="javascript:void(0);">credits +</a> 
                        <div class="row card-credits-content">
                           <div class="col-12 col-md-6"> <span>Music by:</span> <strong>Francois De Meyer</strong> </div>
                           <div class="col-12 col-md-6"> <span>TTN DJ&#039;s:</span> <strong>Thang &amp; Tjon</strong> </div>
                           <div class="col-12 col-md-6"> <span>Label:</span> <strong>NEIN Records</strong> </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="project p_ashtray" id="kyem">
         <div class="w_visual">
            <div class="parallax-item rellax w_speaker" data-rellax-speed="2.1" data-rellax-percentage="0.5"> <img class="parallax-image" src="https://audiotheque.be/assets/images/illu/speaker.svg"/> </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-12 col-md-8 col-xl-6 col-xxl-5 offset-md-1 offset-xl-2 offset-xxl-2">
                  <div class="card card--case">
                     <div class="card-top"> <img class="card-img-top" src="https://audiotheque.be/files/_w1500/KYEM-HEADER.jpg"> </div>
                     <div class="card-body">
                        <div class="row">
                           <h4 class="card-title col-md-8">KYEM</h4>
                           <div class="col-md-4 text-md-right"> <a href="https://audiotheque.be/play/kyem" class="btn btn-outline-primary">view case</a> </div>
                        </div>
                        <ul class="card-tags mt-3 mt-md-0">
                           <li class="card-tag"> <a href="https://audiotheque.be/category/band">Band</a> </li>
                        </ul>
                        <p class="card-text">KYEM is a match made in heaven between multi-instrumentalist and producer Tim De Gieter (FÄR, Every Stranger Looks Like You) en musical jack of all trades Francois De Meyer.</p>
                        <a class="card-credits-link" href="javascript:void(0);">credits +</a> 
                        <div class="row card-credits-content">
                           <div class="col-12 col-md-6"> <span>Conceptualist and writer:</span> <strong>Francois De Meyer</strong> </div>
                           <div class="col-12 col-md-6"> <span>Multi-instrumentalist:</span> <strong>Tim De Gieter</strong> </div>
                           <div class="col-12 col-md-6"> <span>Produced by :</span> <strong>Francois &amp; Tim</strong> </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </article>
   -->