<main class="hidden">
	 <div id="hp_holder" class="step0">
		<div class="hp_content">
		   <div class="hp_step0">
			  <h1 class="page-title col-12 text-center">We are Exodus Music Ministries, In the mission of spreading Keerthanai Payirtrunar lyrics globally.</h1>
		   </div>
		   <a href="<%=base%>about" class="hp_step1 hp_hover">
			  <div class="hp_circle"></div>
			  <div class="hp_element hp_ink"> <img src="https://audiotheque.be/assets/images/hp/ink@2x.png" alt=""> </div>
			  <div class="hp_element hp_tape1"> <img src="https://audiotheque.be/assets/images/hp/tape1@2x.png" alt=""> </div>
			  <div class="hp_element hp_tape2"> <img src="https://audiotheque.be/assets/images/hp/tape2@2x.png" alt=""> </div>
			  <div class="hp_element hp_tape3"> <img src="https://audiotheque.be/assets/images/hp/tape3@2x.png" alt=""> </div>
			  <div class="hp_text">
				 <h2> CHECK OUT<br/> EXODUS <br/>MUSIC MINISTRIES </h2>
				 <span class="btn btn-white">TAKE A PEEK</span> 
			  </div>
		   </a>
		   <a href="<%=base%>music" class="hp_step2">
			  <div class="hp_circle"></div>
			  <div class="hp_element hp_ink"> <img src="https://audiotheque.be/assets/images/hp/ink@2x.png" alt=""> </div>
			  <div class="hp_element hp_key1"> <img src="https://audiotheque.be/assets/images/hp/key1@2x.png" alt=""> </div>
			  <div class="hp_element hp_key2"> <img src="https://audiotheque.be/assets/images/hp/key2@2x.png" alt=""> </div>
			  <div class="hp_element hp_key3"> <img src="https://audiotheque.be/assets/images/hp/key3@2x.png" alt=""> </div>
			  <div class="hp_element hp_key4"> <img src="https://audiotheque.be/assets/images/hp/key4@2x.png" alt=""> </div>
			  <div class="hp_element hp_key5"> <img src="https://audiotheque.be/assets/images/hp/key5@2x.png" alt=""> </div>
			  <div class="hp_text">
				 <h2> OUR MISSION<br/> ON RENOVATE AND SPREADING <br/> CHRISTIAN TAMIL KEERTHANAI SONGS</h2>
				 <span class="btn btn-white">LOOK AT OUR WORK</span> 
			  </div>
		   </a>
		   <div class="anim--jack">
			  <div id="jack--holder"></div>
		   </div>
		</div>
	 </div>
	 <article class="project-list homepage">
		<section class="project home-footer">
		   <div class="container">
			  <div class="row">
				 <div class="col-12">
					<h3><span>International</span> 
						<span>Christian Tamil Lyrics</span> 
						<span>Renewal Movement</span></h3>
						<br/>
					<h5>Exodus Music Ministries, Our objective is to train <br/>the younth & intrested peoples globally willing to learn <br/>and sing Keerthanai Payirtrunar lyrics.</h5>
					<a class="btn btn-black" href="<%=base%>contact">GET IN TOUCH</a><br/> <a class="btn btn-white" href="<%=base%>about">ABOUT US</a> 
				 </div>
			  </div>
		   </div>
		</section>
	 </article>
  </main>